#login-wrapper
{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.loginCard {
    position: relative;
    width: 30rem !important;
    height: 40rem !important;
    margin: auto;
}